* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --header-height: 4.5rem;
  /*  fonts  */
  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}
header {
  height: 110px;

  background-color: #33cb73;
}
.Logo {
  padding: 40px;
}
.Logo {
  font: 300 1.5rem var(--title-font);
}
.title {
  font: 300 1.875rem var(--title-font);
  color: black;
  -webkit-font-smoothing: auto;
}
body {
  background: #f6f9ff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font: 400 3rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.nav .a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.caixa {
  -webkit-font-smoothing: auto;
  margin-top: 4rem;
}
.grid {
  display: grid;
  float: right;
}
a {
  color: black;
  text-decoration: none;
  float: left;
  margin-left: 1rem;
  padding: 10px;
  text-transform: uppercase;
}
nav {
  display: inline;
  margin: 0 0 0 15px;
  position: relative;
  top: 0px;
  color: white;
}
nav a:hover {
  color: #e7550c;
  text-decoration: underline;
}
nav a {
  text-align: center;
  transition: color 0.2s;
  position: relative;
}
a {
  text-decoration: none;
  padding: 35px;
}
.nav a:hover,
nav a.active {
  color: #e7550c;
}

.main {
  margin-top: var(--header-height);
}
section {
  text-align: center;
}
.toggle {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}
section .icon-marca-x {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}
.icon-marca-x {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}
.nome h1 {
  margin-top: 1%; /* Posiciona o p a 5% da altura do contêiner */
  left: 30%; /* Posiciona o p a 30% da largura do contêiner */

  padding: 10px; /* Espaçamento interno para o texto */
  padding-top: 30px;
  padding-bottom: 30px;
  font: 500 2rem #263238;
  text-transform: uppercase;
  color: #263238; /* Cor do texto */
}

/*==Cards==*/
.Card {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 200px 200px 200px;
  column-gap: 50px;
  row-gap: 50px;
  padding: 0 2rem;
}
.cardUnico {
  width: 160px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  font-size: 14px;
  margin-left: 160px;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.cardUnico.cor {
  background: #fff;
  /* background: linear-gradient(to right, #0b3900, #33cb73);*/
  /*box-shadow: 20px 20px 50px -30px #33cb73;*/
}

.cardUnico:first-child .third-child {
  margin-left: 0;
}

.cardUnico:hover {
  background: #33cb73;
  /*background: linear-gradient(to right, #0b3900, #33cb73);*/
  transform: scale (1);
  transition: 0.5s;
}
.cardUnico:hover .h3 {
  transform: scale (1);
  transition: 0.5s;
}
.cardizinho .imagemCard {
  width: 100%;
  height: 40%;
  background: #33cb73;
  border-bottom-left-radius: 140px;
  border-bottom-right-radius: 140px;
  text-align: center;
  transform: scale (1);
  transition: 0.5s;
}
.textCard h3 {
  height: 60%;
  align-itens: center;
  justify=content: center;
  padding: 0.5rem 0.5rem;
  max-width: 240px;
}
.Card .cardUnico:nth-child(1) .cardizinho {
  background: #33cb73;
  background-size: 100%;
  background-position: 50%;
}
.Card .cardUnico:nth-child(1):hover .cardizinho {
  background-color: #33cb73;
}
.Card .cardUnico:nth-child(2) .cardizinho {
  background: url("https://www.facebook.com/photo/?fbid=757972773000033&set=a.530086445788668&locale=pt_BR")
    no-repeat #33cb73;
  background-size: 100%;
  background-position: 50%;
}
.Card .cardUnico:nth-child(2):hover .cardizinho {
  background-color: #33cb73;
}
.Card .cardUnico:nth-child(3) .cardizinho {
  background: url("https://www.facebook.com/photo/?fbid=757972773000033&set=a.530086445788668&locale=pt_BR")
    no-repeat #33cb73;
  background-size: 100%;
  background-position: 50%;
}
.Card .cardUnico:nth-child(3):hover .cardizinho {
  background-color: #33cb73;
}
.Card .cardUnico:nth-child(4) .cardizinho {
  background: url("https://www.facebook.com/photo/?fbid=757972773000033&set=a.530086445788668&locale=pt_BR")
    no-repeat #33cb73;
  background-size: 100%;
  background-position: 50%;
}
.Card .cardUnico:nth-child(4):hover .cardizinho {
  background-color: #33cb73;
}

.imagem {
  -webkit-font-smoothing: antialiased;
  object-fit: contain;
}

@media (max-width: 720px) {
  html {
    overflow-x: hidden;
    position: relative;
  }
  .nome h1 {
    font-size: 24px;
    margin-left: 50px;
  }
  a {
    margin-left: 55px;
    padding: 50px;
  }
  .Logo {
    padding: 10% 0;
  }
  .cardUnico {
    margin-bottom: 32px;
    margin-left: 55px;
    width: 40px;
    height: 140px;
    overflow: hidden;
  }
  .cardUnico h3 {
    max-width: 120px;
    margin-left: 55px;
    text-align: justify;
  }
  main {
    margin-left: 0;
    margin-bottom: 32px;
    max-width: 250px;
    position: relative;
  }

  .cardUnico:last-child {
    margin-bottom: 0;
  }
}
