* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --header-height: 4.5rem;
  /*  fonts  */
  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}
#header {
  height: 100px;
  background-color: #33cb73;
}
.Logo {
  padding: 40px;
}
.Logo {
  font: 700 var(--title-font);
}
.title {
  font: 300 1.875rem var(--title-font);
  color: black;
  -webkit-font-smoothing: auto;
}
body {
  background: #f6f9ff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font: 400 3rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.nav .a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.caixa {
  -webkit-font-smoothing: auto;
  margin-top: 4rem;
}
.grid {
  display: flex;
  float: right;
}
a {
  color: black;
  text-decoration: none;
  float: left;
  margin-left: 1rem;
  padding: 10px;
}
nav li {
  display: inline;
  margin: 0 0 0 15px;
  position: relative;
  top: 0px;
  color: white;
}
nav a:hover {
  color: #e7550c;
  text-decoration: underline;
}
nav ul li {
  text-align: center;
}
nav ul li a {
  transition: color 0.2s;
  position: relative;
}
ul a {
  text-decoration: none;
  padding: 35px;
}
.nav ul li a:hover,
nav ul li a.active {
  color: #e7550c;
}

.main {
  margin-top: var(--header-height);
}
section {
  text-align: center;
}
.nome p {
  margin-top: 1%; /* Posiciona o p a 5% da altura do contêiner */
  left: 30%; /* Posiciona o p a 30% da largura do contêiner */
  color: black; /* Cor do texto */
  padding: 10px; /* Espaçamento interno para o texto */
  padding-top: 30px;
  padding-bottom: 30px;
  font: 500 2rem var(--title-font);
}

/*==Cards==*/
.Card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row;
  border-style: none;
  margin: 0 auto;
}
.card {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  display: flex;
  background: #f9f9f7;
  font-size: 14px;
  justify-content: center;
  padding: 2rem 6rem;
  font: 300 var(--title-font);
  max-height: 460px;
  margin-left: 250px;
  cursor: pointer;
  margin-bottom: 30px;
}
.card p {
  flex-direction: arrow;
  text-align: start;
  padding-top: 10px;
  max-width: 240px;
  margin-bottom: 16px;
}
.card.cor {
  background: linear-gradient(to right, #0b3900, #33cb73);
}
.card.cor {
  box-shadow: 20px 20px 50px -30px #049f76;
}
.card:first-child .third-child {
  margin-left: 0;
}

.card:hover {
  box-shadow: 0 0 8px #e6dd96;
  border: 1px solid #dd9929;
  background: linear-gradient(to right, #dd9929, #f6f9ff);
  transition: all 0.5s linear;
}
.card:hover p {
  scale: 1.3;
  transition: all 0.5s linear;
}
#imagem {
  -webkit-font-smoothing: antialiased;
  object-fit: contain;
}

@media (max-width: 720px) {
  .p {
    font-size: 4px;
  }
  .card {
    margin-bottom: 32px;
  }
  main {
    margin-left: 0;
    margin-bottom: 32px;
  }

  .card:last-child {
    margin-bottom: 0;
  }
}
