body {
  background: #e6f0e8;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav .a {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

a {
  color: black;
  text-decoration: none;
  float: left;
  margin-left: 1rem;
  padding: 10px;
  text-transform: uppercase;
}

section {
  text-align: center;
}

.nome h1 {
  margin-top: 1%; /* Posiciona o p a 5% da altura do contêiner */
  left: 30%; /* Posiciona o p a 30% da largura do contêiner */
  font-family: "Poppins", sans-serif;
  padding: 10px; /* Espaçamento interno para o texto */
  padding-top: 50px;
  padding-bottom: 40px;
  font: 500 2rem #263238;
  text-transform: uppercase;
  color: #263238; /* Cor do texto */
}

/*==Cards==*/
.Card {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 200px 280px;
  column-gap: 50px;
  row-gap: 50px;
}
.cardUnico {
  justify-content: center;
  width: 200px;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 14px;
  margin-left: 320px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.custom-button {
  border: none;
  text-align: center;
  color: gray;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  cursor: pointer;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  margin: 0 0 0 16px;
  font-family: "Poppins", sans-serif;
}

.material-icons {
  margin-left: 6px;
}

.cardUnico .cardCor .button {
  background: #fff;
}
.cardUnico .button {
  margin-top: 0;
}
.custom-button:hover {
  background: #3d834d;
  color: black;
}

.cardUnico:first-child .third-child {
  margin-left: 0;
}

.cardUnico:hover {
  background: #3d834d;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}
.cardUnico:hover .h3 {
  transform: scale (1.05);
  transition: all 0.5s ease-in-out;
}
.cardizinho .imagemCard {
  width: 100%;
  height: 40%;
  background: #3d834d; /*#33CB73*/
  border-bottom-left-radius: 140px;
  border-bottom-right-radius: 140px;
  text-align: center;
  transform: scale (1);
  transition: 0.5s;
}

.Card .cardUnico:nth-child(1) .cardizinho {
  background: #3d834d;
  background-size: 100%;
  background-position: 50%;
}
.Card .cardUnico:nth-child(1):hover .cardizinho {
  background-color: #3d834d;
}
.Card .cardUnico:nth-child(2) .cardizinho {
  background: url("https://www.facebook.com/photo/?fbid=757972773000033&set=a.530086445788668&locale=pt_BR")
    no-repeat #3d834d;
  background-size: 100%;
  background-position: 50%;
}
.Card .cardUnico:nth-child(2):hover .cardizinho {
  background-color: #3d834d;
}
.Card .cardUnico:nth-child(3) .cardizinho {
  background: url("https://www.facebook.com/photo/?fbid=757972773000033&set=a.530086445788668&locale=pt_BR")
    no-repeat #3d834d;
  background-size: 100%;
  background-position: 50%;
}
.Card .cardUnico:nth-child(3):hover .cardizinho {
  background-color: #3d834d;
}
.Card .cardUnico:nth-child(4) .cardizinho {
  background: url("https://www.facebook.com/photo/?fbid=757972773000033&set=a.530086445788668&locale=pt_BR")
    no-repeat #3d834d;
  background-size: 100%;
  background-position: 50%;
}
.Card .cardUnico:nth-child(4):hover .cardizinho {
  background-color: #3d834d;
}
