html {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

header {
  width: 90%;
  margin-top: 40px;
  background-color: #2964a4;
  padding: 10px;
}
.Logo img {
  width: 116%;
  height: 110%;
  margin-top: 12px;
}

.bemvindo {
  display: flex;
  align-items: center;
}
.bemvindo h1 {
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  padding-top: 6px;
  padding-bottom: 40px;
  font: 3300 2rem;
  text-transform: uppercase;
  color: #263238;
  border: none;
}
.bemvindo span {
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
  padding: 10px; /* Espaçamento interno para o texto */
  padding-top: 6px;
  font: 300 1rem;
  color: #263238;
}
.bemvindo a {
  border: none;
  margin-left: 10px;
  color: #263238;
  margin-top: 3%;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 auto 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  margin: 0 0 0 28px;
  font-family: "Poppins", sans-serif;
  color: #263238;
}

.bemvindo img {
  width: 24px;
  height: 24px;
  margin-top: 3%;
  margin-left: -1%;
}
.jornal-ofertas {
  width: 80%;
  height: 80%;
}
.jornal-ofertas img {
  width: 60%;
  height: 40%;
  align-items: center;
  margin-left: 60px;
}

@media (max-width: 400px) {
  .Logo {
    padding: 0px;
  }
  .Logo img {
    margin-top: 15px;
  }
  .bemvindo h1 {
    font-size: 14px;
    white-space: nowrap;
  }
  .bemvindo span {
    font-size: 12px;
    white-space: nowrap;
    color: black;
    font-style: italic;
    padding: 30px;
  }
  .button {
    align-self: center;
    margin-left: 60px;
    z-index: 2;
  }
}
