@media (max-width: 900px) {
  header {
    background-color: #ffff;
    position: relative;
    overflow: hidden;
  }
  .Logo {
    font-size: 1.5em;
    margin: 20px;
    overflow: hidden;
    white-space: nowrap; /*Impede que o texto quebre em várias linhas */
    text-overflow: ellipsis; /* Adiciona reticências (...) se o texto for muito longo */
  }

  /* Define uma classe para o elemento que terá a imagem */
  body:before {
    content: " "; /* Adiciona um conteúdo vazio para que a imagem possa ser aplicada */
    display: block; /* Torna o conteúdo um bloco para poder definir largura, altura, etc. */
    background-image: url("/assets/imagem-mobile.jpg"); /* Caminho para a imagem */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    width: 100px; /* Largura da imagem (ajuste conforme necessário) */
    height: 100px; /* Altura da imagem (ajuste conforme necessário) */
    position: absolute; /* Permite posicionar a imagem de forma absoluta em relação ao elemento pai */
    top: 100%; /* Posiciona a imagem no topo do elemento pai */
    left: 0; /* Posiciona a imagem à esquerda do elemento pai */
    z-index: -1; /*Garante que a imagem fique por tras do texto*/
  }

  body {
    background: #3d834d;
    overflow-y: hidden;
  }
  .nome {
    font-size: 0.7em;
    margin-left: 0;
    overflow-x: visible;
    text-align: justify;
    white-space: nowrap;
  }

  .Logo {
    padding: 10% 0;
  }
  .Card {
    display: flex;
    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: center; /* Centraliza os cards ao longo do eixo transversal (vertical) */
    row-gap: 0;
  }
  .imagemCard {
    display: none;
  }
  .custom-button {
    display: none;
  }
  .button {
    display: none;
  }
  .cardUnico {
    background-color: #f5821f;
    background-position-x: 10vh;
    align-items: center;
    width: 180px;
    height: 60px;
    overflow: hidden;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 1px;
    color: #ffff;
  }

  .h3 {
    max-width: 70px;
    margin-left: 0;
    text-align: justify;
    white-space: nowrap;
  }
  main {
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 10px;
    max-width: 100px;
    position: relative;
  }

  .cardUnico:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .cardUnico {
    background-position-x: 30vh;
  }
}

@media (min-width: 1700px) {
  .cardUnico {
    background-position-x: 40vw;
  }
}

@media (max-height: 760px) {
  .cardUnico {
    background-position-y: 200px;
  }
}
