@media (max-width: 900px) {
  header {
    background-color: #e6f0e8;
    width: 140%;
    height: 65px;
  }
  main {
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 5px;
    max-width: 100px;
    position: relative;
  }
  .Logo {
    width: 60%;
    height: 100%;
    padding: 40px;
    margin: 0 0 12px 8px;
    overflow-x: hidden;
  }
  .Logo img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    image-rendering: crisp-edges;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #e6f0e8;
    border-right: 25px solid transparent;
    margin-top: -5px;
  }
  body {
    background: #304983;
    height: 100%;
    overflow: hidden;
  }
  section {
    margin-left: 1cm;
  }
  .nome {
    margin-left: 1px;
    overflow-x: visible;
    white-space: nowrap;
  }

  .h1 {
  }

  .Card {
    display: flex;
    flex-direction: column; /* Altera a direção do flex para coluna */
    align-items: center; /* Centraliza os cards ao longo do eixo transversal (vertical) */
    row-gap: 20px;
  }
  .imagemCard {
    display: none;
  }

  .cardUnico {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e6f0e8;
    width: 350px;
    height: 80px;
    margin-left: 450px;
  }
  .nome h1 {
    color: #e6f0e8;
    font-size: 18px;
    padding-top: 40px;
    margin-left: 40px;
  }

  .h4 {
    margin-top: 40px;
    padding: 50px 50px;
  }
  .h3 {
    width: 100%;
    height: 60%;
    white-space: nowrap;
    font-size: 10px;
    margin-top: 05px;
    align-items: center;
  }

  @media (min-width: 1440px) {
    section {
      width: 900%;
      height: 500%;
    }
    .Card {
      position: relative;
    }
    .cardUnico {
      background-position-x: 30vh;
    }
  }

  @media (min-width: 1700px) {
    .cardUnico {
      background-position-x: 40vw;
    }
  }

  @media (max-height: 760px) {
    .cardUnico {
      background-position-y: 200px;
    }
  }

  @media (max-width: 400px) {
    body {
      background: #304983;
    }

    header {
      width: 100%;
      height: 80px;
      overflow: hidden;
      position: relative;
    }
    section {
      margin-left: 0px;
    }
    .Logo {
      width: 100%;
      height: 100%;
      padding: 30px;
      top: 50%;
      transform: translateY(30px);
    }
    .Logo img {
      width: 100%;
      object-fit: contain;
      image-rendering: -webkit-optimize-contrast;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 20px solid #e6f0e8;
      border-right: 25px solid transparent;
    }
    .nome h1 {
      margin-top: 0;
      margin-left: -7px;
      font-size: 14px;
      color: #e6f0e8;
      align-items: center;
    }

    .Card {
      width: 100%;
      height: 100%;
      margin-lef: 10px;
    }
    .cardUnico {
      width: 280px;
      margin-left: 200px;
      padding: 5px;
      align-items: center;
      position: relative;
      z-index: 1;
    }

    .button {
      align-self: center;
      margin-left: 60px;
      z-index: 2;
    }
  }
}
